/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  
}
#more-info {
	background-color: #E8FFBA;
}
.jumbotron h1{
	font-family: 'Arvo', courier, serif;	
	margin-top: 2px;
	margin-bottom: 50px;
}
.jumbotron p{
	margin-bottom: 30px;
	
}
ul.nav{
	font-size: 13px;
	font-family: 'Arvo', courier, serif;	
}
.jumbotron {
	text-align: center;	
	color: white;
	font-weight: 100;
	padding: 10 50px;
	background-image: url('../images/heroimage.jpg');
}
.homepage {
	font-family: 'Arvo', courier, serif;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.homepage h2, .homepage h3 {
	text-transform: uppercase;
	color: #197519;
}
.homepage h2 {
	font-size: 30px;
}
.homepage h3 {
	font-size: 26px;
}
.homepage p {
	font-size: 18px;
	font-weight: 300;
}
.homepage a {
	text-decoration: none;
	color: #197519;
}
.homepage a:hover {
	color: #197519;
	text-decoration: none;
	opacity: .8;
}
.homepage hr {
	border-top: 1px solid #197519;
	width: 130px;
	margin-top: 15px;
}
li {
	text-align: justify;
    text-justify: inter-word;
}
.emp {
	color: #197519;
}
footer {
	background-color: #197519;
	padding-top: 40px;
	padding-bottom: 30px;
	color: white;
}
@media (max-width:1199px){
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}
@media (max-width:991px){
	.jumbotron h1{
		font-size: 44px;
	}
	.jumbotron p{
		padding: 0 10px;
	}
	#more-info{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px){
	.jumbotron h1{
		font-size: 24px;
	}
	.jumbotron p{
		font-size: 16px;
		padding: 0 10px;
	}
	#more-info{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.homepage p{
		font-size: 18px;
	}
	.btn-lg{
		font-size: 18px;
	}
	footer img{
		width: 80%;
	}	
}